<div class="row">
<div class="col-md-3"></div>
<div class="col-md-9"> <form class="form-inline text-center #myForm='ngForm' myForm.reset()">
  <div class="md-form my-4">
    <input class="form-control mr-md-7" type="text" placeholder="Search here.." [(ngModel)]='username' name='username' (keyup)='getProfile()'aria-label="Search">
  </div>
</form>
</div>
</div>
<div>
    <div class="row ">
      <!-- Grid column -->
      <div class="col-lg-5 col-md-6 clearfix">
        <!--Card-->
        <div class="card float-left">
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!--Title-->
            <h4 class="card-title">Git search</h4>
            <!--Text-->
            <p class="card-text white-text">
            Allows you to check-out various GitHub users Finally, you can also check them out on their actual GitHub page!
            </p>
           
          </div>

        </div>
      

      </div>
    

      <!-- Grid column -->
      <div *ngIf = 'users' class="col-lg-7 col-md-6">
        <!--Panel-->
        <div class="card">
          <h3 class="card-header elegant-color lighten-1 white-text text-uppercase font-weight-bold text-center py-5">{{users.name}}</h3>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Login Name
                <span class="badge stylish-color badge-pill">{{users?.login}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Followers
                <span class="badge stylish-color badge-pill">{{users?.followers}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Following
                <span class="badge stylish-color badge-pill">{{users?.following}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Public Repositories
                <span class="badge stylish-color badge-pill">{{users?.public_repos}}</span>
              </li>

              <li class="list-group-item d-flex justify-content-between align-items-center">
                Public Gists
                <span class="badge stylish-color badge-pill">{{users?.public_gists}}</span>
              </li>
            </ul>
            <p class="text-small text-muted mb-0 pt-3">* You can decide to check it out on Git GitHub </p>
          </div>
        </div>
        
<a href={{users?.html_url}} target='_blank' class="btn btn-outline-white btn-md waves-effect" class="btn btn-primary">Check On GitHub</a>
      </div>
      

    </div>
  

</div>
